body {
  font-family: Cambria, Geneva, Arial, helvetica, sans-serif;
}

td {
	font-family: 'Arial Narrow', Arial, sans-serif, Geneva, Arial, helvetica, sans-serif;
}

th {
	font-family: arial, Geneva, Arial, helvetica, sans-serif;
}